openapi: 3.0.3
info:
  title: API Sistemi
  description: Mobil, Web ve Admin platformları için merkezi API sözleşmesi.
  version: 1.0.0
servers:
  - url: https://api.projem.com/api/v1
    description: Production Server
  - url: http://localhost:3000/api/v1
    description: Local Development
tags:
  - name: Client - Auth
  - name: Client - Cases
  - name: Client - SOS
  - name: Admin - Auth
  - name: Admin - Cases
  - name: Admin - Users
paths:
  # ---------------------------------------------------------
  # CLIENT ENDPOINTS (Mobil & Web Müşteri Portalı)
  # ---------------------------------------------------------
  /client/auth/login:
    post:
      tags: [Client - Auth]
      summary: Müşteri girişi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Başarılı giriş
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /client/cases:
    get:
      tags: [Client - Cases]
      summary: Müşterinin kendi hasar dosyalarını (tutanaklarını) listelemesi
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Case'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Client - Cases]
      summary: Yeni kaza tutanağı/dosya oluşturma
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCaseRequest'
      responses:
        '201':
          description: Dosya başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          $ref: '#/components/responses/BadRequest'

  /client/sos:
    post:
      tags: [Client - SOS]
      summary: Acil çekici/kurtarıcı çağırma
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude, description]
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
                description:
                  type: string
      responses:
        '201':
          description: Acil durum talebi alındı

  # ---------------------------------------------------------
  # ADMIN ENDPOINTS (Yönetim Paneli)
  # ---------------------------------------------------------
  /admin/auth/login:
    post:
      tags: [Admin - Auth]
      summary: Yönetici girişi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Başarılı giriş
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /admin/cases:
    get:
      tags: [Admin - Cases]
      summary: Sistemdeki tüm hasar dosyalarını listele
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, REVIEWING, APPROVED, REJECTED]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Başarılı

  /admin/cases/{id}/status:
    patch:
      tags: [Admin - Cases]
      summary: Dosya durumunu güncelle (Örn. onaylama, kusur oranı girme)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [PENDING, REVIEWING, APPROVED, REJECTED]
                faultRate:
                  type: integer
                  description: Kusur oranı yüzdesi (0-100)
      responses:
        '200':
          description: Durum güncellendi

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20

  responses:
    BadRequest:
      description: Geçersiz veri gönderimi
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Yetkisiz erişim
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [CLIENT, ADMIN, HR, EXPERT]
        createdAt:
          type: string
          format: date-time

    Case:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [PENDING, REVIEWING, APPROVED, REJECTED]
        faultRate:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time

    CreateCaseRequest:
      type: object
      required: [title, description, incidentDate]
      properties:
        title:
          type: string
        description:
          type: string
        incidentDate:
          type: string
          format: date-time
        location:
          type: string

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer

    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
